.App {
  background-color: #fff;
  margin: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-image: url(./images/arrangement-of-festive-wrapped-gifts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.container__header {
  padding: 50px;
}

.header__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 27px;
  color: black;
  margin: 0 auto;
}

.container__content {
  padding: 20px;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  gap: 10px;
}

.content__card {
  width: 300px;
  height: 200px;
  background-color: rgb(100%, 100%, 100%, 0.8);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.content__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: black;
  margin: 0 auto 20px;
}

.content__subtitle {
  font-weight: 500;
  font-size: 23px;
  line-height: 17px;
  color: black;
  margin: 0 auto 50px;
}

.photo__vector {
  background-color: transparent;
  background-image: url(./images/нравится.svg);
  background-repeat: no-repeat;
  width: 31px;
  height: 26px;
  border-style: none;
  padding: 0;
  background-size: contain;
  cursor: pointer;
  margin-right: 10px;
}

.photo__vector:hover {
  opacity: 50%;
}

.photo__vector_active {
  background-image: url(./images/likeblack.svg);
  background-repeat: no-repeat;
  width: 31px;
  height: 26px;
  border-style: none;
  padding: 0;
  background-size: contain;
  cursor: pointer;
  margin-right: 10px;
}
